<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>
    <script>
      window.initialGames = <%= raw @games.to_json %>;
    </script>
  </body>
</html>
